.home-background{

    background-image: url('https://images.pexels.com/photos/354103/pexels-photo-354103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
 
}

.home-content{

    padding-top: 250px;
}

.menu-item ul li{
    
    list-style: none;
}